body {
  /* background-color: #700fb5; */
  background-image: url("./../assets/img/pd-icing-irl-big.png"),
    radial-gradient(circle, rgba(27, 20, 100, 1) 0%, rgba(112, 15, 181, 1) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.call-display-section {
  height: 90vh;
  display: flex;
}
.call-display-section .title {
  font-size: 2rem;
}

.call-container {
  /* max-width: 80%;
  margin: auto; */
  display: grid;
  grid-template-columns: 7% 19% 1% 56% 17%;
  grid-template-rows: 9% 25% 11% 45% 10%;
  width: 100%;
}

.lastcall-container {
  /* margin: 0; */
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 4;
  /* // max-width: 70%; */
  margin: auto;
}

.prevcall-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;
}

.prevcall-container > h2 {
  font-size: 5rem;
}

.lastcall-container > h2 {
  font-size: 13rem;
}

.logo-container {
  padding: 40px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 10%;
}

.page-footer,
nav {
  background-color: transparent;
}

.upper-controls {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 20px;
}

#reset {
  margin-inline-end: 10px;
}
